/*Channel icons*/
@import url(https://xhylo.github.io/ChannelIcons/Channelicons.css);

/*Better Floating Editor*/
@import url(https://dablulite.github.io/css-snippets/BetterFloatingEditor/import.css);

/*Hide AKA nicknames until hover*/
@import url(https://minidiscordthemes.github.io/Snippets/HideAKA/HideAKA-badge.css);

/*Account Details Grid*/
@import url(//dablulite.github.io/css-snippets/AccountDetailsGrid/import.css);

/* #css-snippet CSS Store */
/*@import url(https://maendisease.github.io/BetterDiscordStuff/css/storeCSS.css);*/

/*Plugins/Themes Counter*/
@import url(https://raw.githack.com/Skamt/BDAddons/main/CSS/AddonsCounter.css);

/*Icon pack*/
@import url('https://discordstyles.github.io/Fluent/Icons.css');

/*Better Modals*/
@import url(https://dablulite.github.io/css-snippets/BetterModals/import.css);

/*Better "Authorized Apps" Tab*/
@import url(//dablulite.github.io/css-snippets/BetterAuthApps/import.css);

/*Better Windows Titlebar*/
@import url(//dablulite.github.io/css-snippets/BetterTitlebar/import.css);

/*Hide Plugin Libs*/
div#BDFDB-card, div#ZeresPluginLibrary-card {display: none;}

/*Remove "Set a Server Nickname and Avatar" from your user popout*/
.setIdentityLink-3lcnXW {display: none}

/*remove server discovery button*/
.circleIconButton-1VxDrg {display:none}

/*remove stickers button*/
.stickerButton-1-nFh2 {display:none}

/*remove emoji button*/
.emojiButton-1fMsf3 {display:none}

/*Hide new mentions button*/
.unreadMentionsBar-ZXXoOH {
  display: none;
}

/*remove help button from top-right corner*/
.toolbar-3_r2xA a {
  display: none;
}

/*remove nitro icon in the settings*/
.premiumLabel-V52REm > svg {
  display: none;
}
.premiumTrialBadge-pEqntF {
    display: none;
}

/*removes Nitro button from DM list*/
#private-channels a[href="/store"] {
    display: none;
}
[class^="channelTextArea"] [class^="buttons-"] > div:not(.expression-picker-chat-input-button):not([class^="separator-"]) {
    display: none !important;
}

/*hide gift button*/
.buttons-uaqb-5 > .button-f2h6uQ > :not(.translateButton-DhP9x8) {
    display: none;
}

/*get rid of the subscriptions icon*/
.icon-Zc-uZZ {
    display: none;
}

/* Hide nitro icon on banners */
.bannerPremium-kkSkPv .premiumIconWrapper-32h0Ri {
  display: none;
}

/*Remove Ugly Nitro Promo stuff*/
.privateChannels-oVe7HL [href="/store"] + svg,
.item-3XjbnG [class*="Promo"],
.premiumLabel-3HPvdB svg {
    display: none;
}	
.premiumLabel-3HPvdB {
    color: var(--color-muted);
}

/*hide x on close DMs*/
.closeButton-mupH76 {
  display: none !important;
}

/*Remove Stage Discovery Tab*/
#private-channels [href="/discovery"] {display: none}

/*Hide the cursor when the video controls are hidden*/
.wrapperControlsHidden-2BK8R2 {
    cursor: none;
}

/*Remove Pencil icon things when hovering banners*/
.banner-1YaD3N:hover .bannerOverlay-1uIerX, .banner-1YaD3N:hover .pencilIcon-z04-c5 {
    display: none;
}

/*Remove Snowsgiving button*/
a[href="//discord.com/snowsgiving"] {
    display: none;
}

/* Hide those awful super react cash-grabs */
.colorPremiumGradient-38tGFG {
  display: none
}
.buttonContainer-1502pf .button-3bklZh:has([d^="M20"]) {
  display: none;
}

/*make disconnect button red*/
.button-12Fmur[aria-label="Disconnect"] {
color: #f04740;
}

/*crop upload image*/
.upload-vLbqu-
{
    min-width: 50px;
    min-height: 50px;
}
.filename-jyRDv_
{
    width: 100px;
    margin-top: 0px;
}
.upload-vLbqu-
{
    padding: 4px;
}
.image-1091CL
{
    max-height: 180px;
}
.channelAttachmentArea-HwpkuQ
{
    align-items: center;
}

/* Unclamp the About Me section, so it's not limited to just 6 lines. (Before it'd cut off at 6 and add a ...) */
.clamped-2ZePhX{
    -webkit-line-clamp: 190; /*Maximum amount of characters as new lines, unset just breaks links*/
    max-height:112px;
    overflow-x: hidden;
    overflow-y:scroll;
}
.clamped-2ZePhX::-webkit-scrollbar {
  display: none;
}

/* Removes Chatbox from channel that don't allow you to communicate */
.innerDisabled-2dbG11 {display: none;}

/* Removes Follow banner on bottom of channels */
.wrapper-2SplAX {display: none;}

/*offline discord*/
.container-2RRFHK {background: transparent; pointer-events: none}

.container-2RRFHK>div {display: none}

.container-2RRFHK::before {
    content: "You've gone offline";
    display: block;
    bottom: 24px; right: 24px;
    position: absolute;
    padding: 8px 16px;
    background-color: #f04747;
    border-radius: 4px;
    color: #fff;
    font-weight: 500
}
[href^="https://discord.com/channels/"
] {
    line-height:0;
    font-size:0;
}
[href^="https://discord.com/channels/"
]::before {
    content:'Jump to Message';
    font-size:16px;
    font-weight:700;
}
.wordmarkWindows-2dq6rw {
  display: none;
}

/*context menu and popup animation*/
.menu-1QACrS, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
    animation: custom-menu-animation 150ms ease;
    transform-origin: center;
}

@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.emojiPicker-6YCk8a, .container-3u7RcY, .wrapper-1NB3WY {
    animation: custom-menu-animation 250ms ease;
    transform-origin: bottom;
}

/*disable discords complicated and laggy settings annimation*/
.layer-86YKbF {
    transform: none !important;
}
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV {
    pointer-events: auto !important;
    will-change: unset;
}
.animating-1rIrGV.stop-animations {
    z-index: 50 !important;
}

/*custom link color*/
[href*="youtu.be"],
[href*="youtube.com"] {
    color:#c4302b !important;
    font-weight: 700;
}
[href*="twitch.tv"] {
    color:#b700ff !important;
    font-weight: 700;
}
[href*="spotify.com"] {
    color:rgb(19, 185, 4) !important; 
    font-weight: 700;
}
[href*="discord.com/channels/"] {
    color:#7289da !important;
}
[href*="discord.com/channels/"]::before {
    content:'Jump to Message : ';
    font-size:16px;
    font-weight:700;
    color: #603cff;
}
[href*="reddit.com"] {
    color:#e05a0c !important; 
    font-weight: 700;
}
[href*="instagram.com/"]{
    background: -webkit-linear-gradient(80deg, rgb(255, 238, 0), rgb(255, 157, 11), #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
} 
[href*="twitter.com/"]{
    color:#00acee !important;
    font-weight: 700;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"] {
    color:#7289da !important;
    font-weight: 700;
}
[href*="github.com"]{
    color:#00f0a8 !important;
    font-weight: 700;
}
[href*="vm.tiktok.com/"]::before {
    content:'!TRASH WARNING! ';
    font-size:16px;
    font-weight:700;
    color: rgb(250, 142, 19);
}
[href*="vm.tiktok.com/"]::after {
    content:' !TRASH WARNING!';
    font-size:16px;
    font-weight:700;
    color: rgb(250, 142, 19);
}
[href*="vm.tiktok.com/"]{
    font-weight:700;
    color: #EF2950 !important;
}
[href*="tiktok.com/"]::before {
    content:'!TRASH WARNING! ';
    font-size:16px;
    font-weight:700;
    color: rgb(250, 142, 19);
}
[href*="tiktok.com/"]::after {
    content:' !TRASH WARNING!';
    font-size:16px;
    font-weight:700;
    color: rgb(250, 142, 19);
}
[href*="tiktok.com/"]{
    font-weight:700;
    color: #EF2950 !important;
}
[href*="store.steampowered.com"],
[href*="steamcommunity.com"] {
    color:#21365b !important;
    font-weight: 700;
}

/*Less intrusive Stage channel*/
.channelNotice-2bJINM {
    height: 20px;
    margin: 0;
    padding: 16px;
    transition: 0.2s ease-in-out;
}
.channelNotice-2bJINM .textBlock-2FWDjE {
    height: 0;
    opacity: 0;
    margin: 0;
    transition: 0.3s ease-in-out;
}
.channelNotice-2bJINM button {
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: 0.3s ease-in-out;
}
.channelNotice-2bJINM:hover {
    height: 152px;
}
.channelNotice-2bJINM:hover .textBlock-2FWDjE {
    height: 16px;
    margin: 4px auto;
    opacity: 1;
}
.channelNotice-2bJINM:hover button {
    height: 32px;
    margin: unset;
    padding: unset;
    opacity: 1;
}

/*Role color background in member list*/
span.roleColor-nA7BqX::after {
    content: "";
    /*background: currentColor;*/
    background: linear-gradient(270deg, currentColor, rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    left: 0;
    top: 0;
    border-radius: 2px;
}

/* Chevrons */
.aboutMeTitle-2i3lnH:after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>');
    display:block;
    width:16px;
    height:16px;
    margin-left: 5px;
}

.aboutMeSection---MkQa:hover > .aboutMeTitle-2i3lnH:after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    display:block;
    width:16px;
    height:16px;
    margin-left: 5px;
}

/*Change Mentions background color*/
/*:root {--mentioned-color: 255,0,0}
.mentioned-Tre-dv::before {background-color: rgb(var(--mentioned-color))}
.mentioned-Tre-dv {background-color: rgba(var(--mentioned-color),0.1)}
#app-mount .mentioned-Tre-dv:hover, #app-mount .mentioned-Tre-dv.selected-2LX7Jy {background-color: rgba(var(--mentioned-color),0.15)}

:root {--reply-color: 0,255,0}
.replying-eZ7p5z::before {background-color: rgb(var(--reply-color))}
.replying-eZ7p5z {background-color: rgba(var(--reply-color),0.1)}
#app-mount .replying-eZ7p5z:hover, #app-mount .replying-eZ7p5z.selected-2LX7Jy {background-color: rgba(var(--reply-color),0.15)}

:root {--ephemeral-color: 255,255,255}
.ephemeral-2nDdnn::before {background-color: rgb(var(--ephemeral-color))}
.ephemeral-2nDdnn {background-color: rgba(var(--ephemeral-color),0.1)}
#app-mount .ephemeral-2nDdnn:hover, #app-mount .ephemeral-2nDdnn.selected-2LX7Jy {background-color: rgba(var(--ephemeral-color),0.15)}
*/

/*Make message edit menu small*/
.button-3bklZh {
    padding: 0px !important;
    width: 5px;
    border-radius: 5px;
}
.selected-69H4ua {
    border-radius: 5px;
    height: 18px;
}
.icon-1zidb7 {
    width: 65%;
    transform: translateY(-8%);
}
.wrapper-2vIMkT {
    height: 20px;
    top: 10px;
}

/*Do not mirror your camera preview in calls*/
.mirror-2qdBDS {transform: none}
.item-3XjbnG > .roleDot-2a4Pv7::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: inherit;
    opacity: 0.15;
    top: 0;
    left: 0;
    border-radius: 4px;
}

/*Pin home button*/
.guilds-2JjMmN .tree-3agP2X {
  outline-color: transparent;
}
.guilds-2JjMmN .scroller-3X7KbA {
  contain: unset;
  margin-top: 52px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
  position: fixed;
  transform: translatey( -100% );
}

/* Animated pings */
.numberBadge-37OJ3S {
  animation: animatedPing 1.8s infinite ease-in-out;
}
@keyframes animatedPing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-12deg) scale(0.9);
    }
    20% {
        transform: rotate(12deg) scale(1.2);
    }
    40% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* settings/deafen/mute buttons animated */
.button-12Fmur:hover .contents-3ca1mk {
  animation: UserModalButtons 0.5s normal ease;
}
.container-YkUktl .noWrap-hBpHBz {
  width: 100px;
  opacity: 1;
}
.button-12Fmur {
  transition: 0.2s;
}
.button-12Fmur:hover {
  padding-bottom: 0px;
  transition: 0.2;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*Emote preview fix*/
img.emote {
    text-indent: 0;
    white-space: nowrap;
    width: auto;
    position: relative;
    top: 0.25ex;
}

/*Profile Connection Borders*/
.connectedAccounts-1YaT2t ~ div::before {
    content: "";
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
}

.connectedAccount-1xKpli {
    overflow: hidden;
    position: relative;
}
/* Spotify */
.connectedAccountIcon-2vls0t[src="/assets/7906941c1205ba04b6921f2af4c6a170.png"] ~ div::before {--border-color: #1ED760;}
/* Github */
.connectedAccountIcon-2vls0t[src="/assets/afb09840b496f2c49032075a33da7fab.png"] ~ div::before {--border-color: #fff;}
/* Twitch */
.connectedAccountIcon-2vls0t[src="/assets/007e5cb8871cf0987283c6307ce7fed0.png"] ~ div::before {--border-color: #563194;}
/* Twitter */
.connectedAccountIcon-2vls0t[src="/assets/6919f2a578d91a5d033b639f0fb52b3d.png"] ~ div::before {--border-color: #0099E4;}
/* xbox */
.connectedAccountIcon-2vls0t[src="/assets/746aba83c88f087e3eef23a47dd57923.png"] ~ div::before {--border-color: #5EC220;}
/* Reddit */
.connectedAccountIcon-2vls0t[src="/assets/b46c06eb71dc56a41432512168e6759a.png"] ~ div::before {--border-color: #FF4500;}
/* Battle.net */
.connectedAccountIcon-2vls0t[src="/assets/7b964801001dd47cc05a91d6dacf6075.png"] ~ div::before {--border-color: #0099E4;}
/* Steam */
.connectedAccountIcon-2vls0t[src="/assets/a9c26c8bebe406ca1adc1967bc532224.png"] ~ div::before {--border-color: #000000;}
/* YouTube */
.connectedAccountIcon-2vls0t[src="/assets/25ec573cf82ee36d12296628f6bec11b.png"] ~ div::before {--border-color: #D9252A;}
/* Facebook */
.connectedAccountIcon-2vls0t[src="/assets/3FGRUA5PRnRhpEJvQhSSZUwTV7kjfZr9k4.png"] ~ div::before {--border-color: #2D3283;}
/* LOL */
.connectedAccountIcon-2vls0t[src="/assets/a0e2182e843745c73f7f3c8325a05ea9.png"] ~ div::before {--border-color: #CEA146;}

/*no spoiler text*/
.spoilerText-27bIiA,
.spoilerText-27bIiA.hidden-3B-Rum {
    background-color: transparent !important;
}
.spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
    opacity: 1 !important;
}

/* Replace Wandering Cubes Spinner with gif*/
span[class="inner-26JK4f"]:after {
    background-image: url('https://c.tenor.com/lwBnEKXsJm0AAAAC/shocked-wide-eyes.gif');
    background-size: cover;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
}
span[class="inner-26JK4f"] > *{
    display: none;
}

/*Make Discord's Toasts look like BD's*/
.toast-q3Y4wI {
    background: #43b581 !important;
    transform: translateY(10px);
    padding: 6px 10px 6px 10px !important;
    border-radius: 5px;
    box-shadow: var(--elevation-medium), var(--elevation-stroke);
    font-weight: 500;
    color: var(--header-primary);
    opacity: 1;
    margin-top: 10px;
}
.toast-q3Y4wI .icon-2QUmmw > path {
    d: none !important;
}
.toast-q3Y4wI .icon-2QUmmw {
    height: 20px !important;
    width: 20px !important;
    margin-top: 0 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=);
    background-size: 20px 20px;
}
.toast-q3Y4wI .colorHeaderPrimary-jN_yGr {
    font-size: 14px !important;
    line-height: 20px !important;
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* makes disabled input red */
.container-2nx-BQ:not(.checked-25WXMf) {
    background-color: #f04747 !important;
}
.container-2nx-BQ:not(.checked-25WXMf) path {
    fill: #f04747 !important;
}

/*Timestamp Icon*/
.timestamp-6-ptG3 {
  border-radius: 7px; 
  padding: 2.5px;

}
.timestamp-6-ptG3::before {
  content: url("data:image/svg+xml,%3Csvg width='12px' height='12px' role='img' fill='white' viewBox='0 0 520 520' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EDiscord%3C/title%3E%3Cpath d='M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z'/%3E%3C/svg%3E");
    margin: 4px;
    position: relative;
    top: 1.5px;
}
.theme-light .timestamp-6-ptG3::before {
  filter: invert(87%); 
}

/* fixes/ensures enabled input is green*/
.container-2nx-BQ.checked-25WXMf {
    background-color: #43b581 !important;
}
.container-2nx-BQ.checked-25WXMf path {
    fill: #43b581 !important;
}

/* Emoji Auto-Fill Animation */
.base-2v-uc0 {
    transition: all 0.5s;
}
.base-2v-uc0:hover {
    transition: all 0s;
    transform: scale(1.02);
}

/* fixes banner on settings page */
.settingsBanner-1eDJ5w {
    height: 240px;
}
.userInfo-regn9W .avatar-3mTjvZ {
    top: 220px !important;
}

/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 6px; 
}

/*Makes official Discord links display like discord's interactive items*/
.messageContent-2t3eCI a[href^="https://discord.com"
]:not([href*="channels"])
{
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}
.messageContent-2t3eCI a[href^="https://discord.com"
]:not([href*="channels"])::after
{
    content: "Jump To Discord";
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}
.messageContent-2t3eCI a[href^="https://support.discord.com"
]
{
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}
.messageContent-2t3eCI a[href^="https://support.discord.com"
]::after
{
    content: "Jump To Discord Support" !important;
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}
.messageContent-2t3eCI a[href^="https://discordstatus.com"
]
{
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}
.messageContent-2t3eCI a[href^="https://discordstatus.com"
]::after
{
    content: "Jump To Discord Status" !important;
    font-size: 11pt !important;
    line-height: 10px !important;
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}
.messageContent-2t3eCI a[href^="https://discord.com"]:hover::after, .messageContent-2t3eCI a[href^="https://discordstatus.com"]:hover::after, .messageContent-2t3eCI a[href^="https://support.discord.com"
]:hover::after
{
    color: #fff;
    background-color: var(--brand-experiment);
}
.messageContent-2t3eCI a[href^="https://discord.com/tos"
]::after
{
    content: "Jump To TOS" !important;
}
.messageContent-2t3eCI a[href^="https://discord.com/terms"
]::after
{
    content: "Jump To TOS" !important;
}
.messageContent-2t3eCI a[href^="https://discord.com/nitro"
]::after
{
    content: "Jump To Nitro" !important;
}
.messageContent-2t3eCI a[href^="https://discord.com/safety"
]::after
{
    content: "Jump To Trust and Safety" !important;
}
.messageContent-2t3eCI a[href^="https://discord.com/blog"
]::after
{
    content: "Jump To Blog" !important;
}
.messageContent-2t3eCI a[href^="https://discord.com/jobs"
]::after
{
    content: "Jump To Jobs At Discord" !important;
}
.messageContent-2t3eCI a[href^="https://discord.com/branding"
]::after
{
    content: "Jump To Discord Branding" !important;
}

/* Spotify Covers Go Wheeeee */
/* profile */
.assetsLargeImageSpotify-17ME3M, .cover-SwJ-ck {
    animation: spin 10s linear infinite;
    border-radius: 50%
}
/* the animation  */
@keyframes spin {
    from {
        transform: rotate(0);
        }
    to {
        transform: rotate(360deg);
    }
}

/* edited text */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
        content: " (" attr(aria-label) ")";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
        text-transform: lowercase;
}
.edited-1v5nT8:not(.message-translate-indicator) {
    display: none;
}

/*Fancy roles*/
:root{
  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}
.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/*BD Addon Mini List*/
.bd-addon-list.bd-grid-view {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
.bd-addon-list .bd-addon-card {
    position: relative;
    margin-bottom: 8px;
    background: 0 0;
    overflow: visible;
}
.bd-addon-list .bd-addon-header {
    background: 0 0;
    padding-left: 0;
}
.bd-addon-list .bd-addon-card:hover .bd-addon-header {
    max-width: calc(100% - 112px);
}
.bd-addon-list .bd-addon-card>:not(.bd-addon-header),
.bd-addon-list .bd-icon,
.bd-addon-list .bd-footer .bd-addon-button {
    display: none
}
.bd-addon-list .bd-title {
    margin-left: 32px;
    z-index: 1;
}
.bd-addon-list .bd-title .bd-meta {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* footer */
.bd-addon-list .bd-addon-card .bd-footer {
    position: absolute;
    padding: 0 16px 0 8px;
    height: 100%;
    display: flex;
    width: 100%;
    overflow: visible;
    justify-content: flex-end;
}
.bd-addon-list .bd-footer>* {
    z-index: 3;
}
.bd-addon-list .bd-addon-card:hover .bd-controls {
    display: flex;
}
.bd-addon-list .bd-addon-card:hover .bd-controls .bd-addon-button {
    display: flex;
}
.bd-addon-list .bd-footer .bd-links {
    top: 53px;
    position: absolute;
    left: 8px;
}
.bd-addon-list.bd-grid-view .bd-footer .bd-links {
    top: 63px;
}
.bd-addon-list .bd-footer .bd-link {
    color: var(--interactive-normal);
}
.bd-addon-list .bd-footer .bd-link:hover {
    color: white;
}
/* controls */
.bd-addon-list .bd-controls>.bd-addon-button,
.bd-addon-list .bd-controls>.bd-addon-button:first-of-type {
    border-radius: 4px;
}
.bd-addon-list .bd-controls>.bd-button:last-of-type {
    border-radius: 4px;
}
.bd-addon-list .bd-button:not(:hover) {
    background: 0 0;
}
.bd-addon-list .bd-controls>.bd-addon-button svg {
    fill: var(--interactive-normal);
}
.bd-addon-list .bd-controls>.bd-addon-button:hover svg {
    fill: white;
}
.bd-addon-list .bd-addon-button.bd-button-danger:hover {
    background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
}
.bd-addon-list .bd-addon-button.bd-button-danger svg {
    fill: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    transform: scale(1.2);
}
.bd-addon-list .bd-addon-button.bd-button-danger:hover svg {
    fill: white;
}
/* description */
@keyframes bdDescriptionVisibility {
    to {
        visibility: visible;
    }
}
.bd-addon-list .bd-addon-card:hover .bd-description-wrap,
.bd-addon-list .bd-addon-card:hover .bd-footer .bd-links .bd-addon-button {
    display: flex;
    visibility: hidden;
    animation: bdDescriptionVisibility 0s 1s forwards;
}
.bd-addon-list .bd-description-wrap {
    position: absolute;
    flex: unset;
    padding: unset;
    margin: 48px 0 0 -4px;
    max-width: 300px;
    z-index: 3;
    background-color: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    border-radius: 5px;
}
.bd-addon-list.bd-grid-view .bd-description-wrap {
    margin-top: 58px;
}
.bd-addon-list .bd-description {
    margin-bottom: unset;
    padding: calc(8px + 26px) 12px 8px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.bd-addon-list.bd-grid-view .bd-description {
    padding-top: calc(8px + 26px);
}
/* switch */
.bd-addon-list .bd-switch {
    order: -1;
    position: static;
}
.bd-addon-list .bd-switch input {
    top: 0;
}
.bd-addon-list .bd-switch .bd-switch-body {
    pointer-events: none;
    z-index: 1;
    transform: translateX(16px);
}
.bd-addon-list .bd-switch.bd-switch-checked::after,
.bd-addon-list .bd-switch:not(.bd-switch-checked)::after,
.bd-addon-list .bd-switch:not(.bd-switch-checked)::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* checked */
.bd-addon-list .bd-switch.bd-switch-checked::after {
    background: var(--background-tertiary);
}
/* not checked */
.bd-addon-list .bd-addon-card .bd-switch:not(.bd-switch-checked)::after {
    background: var(--background-secondary);
}
/* not checked hover */
.bd-addon-list .bd-addon-card:hover .bd-switch:not(.bd-switch-checked)::after {
    background: var(--background-modifier-hover);
}
/* not checked hover dim */
.bd-addon-list .bd-addon-card .bd-switch:not(.bd-switch-checked)::before {
    z-index: 1;
    background: var(--background-secondary);
    opacity: 0.4;
}
.bd-addon-list .bd-addon-card:hover .bd-switch:not(.bd-switch-checked)::before {
    display: none;
}
/*Well, This Is Awkward So Try This*/
#app-mount>.errorPage-2pZ2Kq::before,
#app-mount>.errorPage-2pZ2Kq::after {
    position: absolute;
    padding: 8px;
    margin: 16px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    font-weight: 500;
    word-break: break-word;
    white-space: pre-wrap;
    z-index: 1002;
}
/* Historical */
#app-mount>.errorPage-2pZ2Kq::before {
    top: 0;
    background: var(--info-positive-background);
    border: 1px solid var(--info-positive-foreground);
    color: var(--info-positive-text);
    content: '\
[2022-04-04] [UnreadCountBadges] Fixed in version 1.3.0\a
[2022-04-13] [WhoReacted] Fixed in version 1.2.4\a
';
}

/* Current Warning */
#app-mount>.errorPage-2pZ2Kq::after {
    bottom: 0;
    background: var(--info-warning-background);
    border: 1px solid var(--info-warning-foreground);
    color: var(--info-warning-text);
    content: '\
[2022-04-13 19:31:EST] 0 ongoing plugin issues.\a
';
}

/*Limits the height of codeblocks and adds a scrollbar*/
.markup-eYLPri blockquote, .markup-eYLPri pre > code{
max-height:450px; /*Change this to your height preference.*/
overflow-x: hidden;
overflow-y:scroll;
}
.markup-eYLPri blockquote::-webkit-scrollbar, .markup-eYLPri pre > code::-webkit-scrollbar {
width: 15px;
height: 15px;
}
.markup-eYLPri blockquote::-webkit-scrollbar-track , .markup-eYLPri pre > code::-webkit-scrollbar-track {
border-radius: 10px;
background-color: rgba(255 255 255 / 8%);/*Change this to your color choice or just remove it entirely.*/
}
.markup-eYLPri blockquote::-webkit-scrollbar-thumb, .markup-eYLPri pre > code::-webkit-scrollbar-thumb {
background-color: rgb(13 81 239 / 70%); /*Change this to your color choice or just remove it entirely.*/
border-radius: 10px;
}
.markup-eYLPri blockquote, .markup-eYLPri pre > code {
max-width: 1400px;
}

/*make Kimmys messages glow*/
[aria-roledescription="Message"]:has([src*="/590269076610351104"]) {
    box-shadow: 0px 0px 9999px #800080 inset;
    border-radius: 5px;
}

/*Bearable Inbox*/
.recentMentionsPopout-2bI1ZN .container-iA3Qrz,
.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    background-color: var(--background-primary);
    border-radius: 8px;
    overflow: hidden;
}

.recentMentionsPopout-2bI1ZN .container-iA3Qrz {
    margin: 16px;
    padding-right: unset;
}
.recentMentionsPopout-2bI1ZN .channel-3NJZ1V {
    margin: 16px 8px 16px 0;
    padding-bottom: 0;
}
.recentMentionsPopout-2bI1ZN .channelHeader-DFRX8q {
    background-color: var(--background-primary);
    height: fit-content;
    padding: 6px 16px;
    border-bottom: thin solid var(--background-modifier-accent);
}
.recentMentionsPopout-2bI1ZN .messageContainer-3VTXBC,
.recentMentionsPopout-2bI1ZN .messages-23can0 {
    margin-left: unset;
    background: none;
    border-radius: unset;
}
/* header icon */
.recentMentionsPopout-2bI1ZN .iconSizeMedium-2vzSua {
    width: 24px;
    height: 24px;
}
.recentMentionsPopout-2bI1ZN .iconActiveMedium-27_R5B {
    border-radius: 7px;
}
.recentMentionsPopout-2bI1ZN .dmIcon-1ZeAqq,
.recentMentionsPopout-2bI1ZN .guildIcon-IklRcj {
    margin-right: 6px;
}

/* channel name section */
.recentMentionsPopout-2bI1ZN .channelName-3APnhp svg path {
    fill: var(--channel-icon);
}
.recentMentionsPopout-2bI1ZN .channelName-3APnhp svg {
    margin: 0 4px;
}
.recentMentionsPopout-2bI1ZN .channelNameSection-3OgeRa {
    -webkit-box-orient: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
}
.recentMentionsPopout-2bI1ZN .heading-md-medium-2DVCeJ,
.recentMentionsPopout-2bI1ZN .heading-md-normal-3Ytn6I {
    font-size: 16px;
    line-height: 20px;
}
.recentMentionsPopout-2bI1ZN .subtext-2-lYzF,
.recentMentionsPopout-2bI1ZN .subtextContainer-1jbEbB {
    margin-left: 4px;
    line-height: 20px;
    width: fit-content;
}

/* buttons */
.recentMentionsPopout-2bI1ZN .container-iA3Qrz .closeButton-3CiW2j {
    opacity: 0;
}
.recentMentionsPopout-2bI1ZN .container-iA3Qrz:hover .closeButton-3CiW2j {
    opacity: 1;
}
.recentMentionsPopout-2bI1ZN .tertiary-1e-lAP:not(.disabled-184-il),
.recentMentionsPopout-2bI1ZN .tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background: none;
}
.recentMentionsPopout-2bI1ZN .collapseButton-39-IRc:hover {
    color: var(--interactive-active);
}
.recentMentionsPopout-2bI1ZN .collapseButton-39-IRc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: unset;
    width: 32px;
    height: 32px;
    padding: unset;
    margin-left: 12px;
}
.recentMentionsPopout-2bI1ZN .messages-23can0>button:last-of-type {
    margin-left:auto;
}

/*Replace Muted channel icons with an actual muted icon*/
.modeMuted-2T4MDZ .icon-2W8DHg path{ display: none; }
.modeMuted-2T4MDZ .iconContainer-21RCa3{ position:relative; }
.modeMuted-2T4MDZ .iconContainer-21RCa3:before{
    content: '🔇';
    position:absolute;
    font-size:20px; 
}

/* Boosted Favorites */
:root {
    --favorites-name: 'My Favorites';
    --favorites-guild-icon: url(//i.imgur.com/OFCbYk0.png);
    --favorites-banner: url(//i.imgur.com/jtcxsU6.png);
}
/* category icons */
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-1);
    background-image: var(--c1)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-2);
    background-image: var(--c2)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-3);
    background-image: var(--c3)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-4);
    background-image: var(--c4)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-5);
    background-image: var(--c5)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-6);
    background-image: var(--c6)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-7);
    background-image: var(--c7)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-8);
    background-image: var(--c8)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-9);
    background-image: var(--c9)
}
.container-1NXEtd[aria-label^='Favorites ('] .containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN:not(.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN~.containerDefault-3TQ5YN)>div::before {
    content: var(--category-10);
    background-image: var(--c10)
}
.container-1NXEtd[aria-label^='Favorites ('] .iconVisibility-3pLDEs::before {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background-size: cover
}
/* favorites-name */
.container-1NXEtd[aria-label^='Favorites ('] .name-3Uvkvr {
    display: flex;
    font-size: 0
}
.container-1NXEtd[aria-label^='Favorites ('] .name-3Uvkvr::after {
    content: var(--favorites-name);
    font-size: 15px;
    width: 186px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.favoritesInfo-3HTE7X path {
    display: none
}
.favoritesInfo-3HTE7X {
    margin-left: 0;
    padding-right: 6px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="white"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.924 8.61789C21.77 8.24489 21.404 8.00089 21 8.00089H15.618L12.894 2.55389C12.555 1.87689 11.444 1.87689 11.105 2.55389L8.38199 8.00089H2.99999C2.59599 8.00089 2.22999 8.24489 2.07599 8.61789C1.92199 8.99089 2.00699 9.42289 2.29299 9.70789L6.87699 14.2919L5.03899 20.7269C4.92399 21.1299 5.07199 21.5619 5.4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbRyFTLRNyDmT1a1boZV21.9449 17.806 22.0009 18 22.0009C18.207 22.0009 18.4JUdGzvrMFDWrUUwY3toJATSeNwjn54LkCnKBPRzDuhzi5vSepHfUckJNxRL2gjkNrSqtCoRUrEDAgRwsQvVCjZbRyFTLRNyDmT1a1boZV70789C21.993 9.42289 22.078 8.99089 21.924 8.61789Z" ></path></svg>') no-repeat
}

.container-1NXEtd[aria-label^='Favorites ('] .button-2BMPJJ.open-3fGK6o {
    animation: headerArrow .2s ease-out
}
@keyframes headerArrow {
    from {
        transform: rotate(0)
    }

    to {
        transform: translate3d(0, -3px, 0) rotate(-90deg)
    }
}
/* favorites-icon */
.favoriteIcon-2kWmTP path {
    display: none
}
.favoriteIcon-2kWmTP {
    min-width: 100%;
    min-height: 100%;
    background: var(--favorites-guild-icon) center/cover no-repeat
}
/* favorites-banner */
.container-1NXEtd[aria-label^='Favorites ('] .header-3OsQeK {
    box-shadow: none;
    background: 0 0;
    filter: drop-shadow(0 1px 1px hsla(0, 0%, 0%, .8))
}
.container-1NXEtd[aria-label^='Favorites ('] .container-1-ERn5 {
    margin-bottom: 87px
}
.container-1NXEtd[aria-label^='Favorites ('] .container-1-ERn5::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 135px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, transparent 48px), var(--favorites-banner) no-repeat center/cover;
    box-shadow: var(--elevation-low)
}
:root {
    --favorites-name: 'My Favorites';
    --favorites-guild-icon: url(//i.imgur.com/OFCbYk0.png);
    --favorites-banner: url(https://i.imgur.com/jtcxsU6.png);
    /* category icons */
    /* Duplicate each group for additional categories (Up to 10), then replace both numbers. */
    --category-1: '';
    --c1: url(https://i.imgur.com/Xwm8bJA.png);
    
    --category-2: '';
    --c2: url(https://i.imgur.com/F3zPKAX.png);
}

/*Compact Blocked Messages*/
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg {padding: 0 0 0 16px}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg.compact-2Nkcau {padding: 0 0 0 108px}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) {margin: 0}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1.expanded-3lghlw:not(.backgroundFlash-1X5jVs) {background-color: var(--info-danger-background)}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g .groupStart-3Mlgv1,
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs, .expanded-3lghlw)+.messageListItem-ZZ7v6g .groupStart-3Mlgv1 {margin-top: 0}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g {opacity: .5}
.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {display: none}
.blockedMessageText-3Zeg3y {position: relative;font-size: 12px;line-height: 16px;color: var(--interactive-muted)}
.blockedMessageText-3Zeg3y:hover {text-decoration: underline}
.blockedMessageText-3Zeg3y:hover,.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {color: var(--info-danger-foreground)}
.blockedAction-2cPk2G {position: absolute;inset: 0;width: 100%;opacity: 0}
.blockedMessageText-3Zeg3y:after {content: '';position: absolute;right: 0;height: 100%;width: 14px;pointer-events: none;background-color: currentColor;
-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

/*Colored Folder Icons*/
.closedFolderIconWrapper-3tRb2d {
    display: none;
}
.folderIconWrapper-1oRIZr:not([style=""])::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: inherit;
    -webkit-mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg) no-repeat;
    transform: scale(1.3335);
    filter: brightness(1.5) saturate(1.5);
}

/* Christmas hat */
.message-2CShn3.groupStart-3Mlgv1:not(.systemMessage-1H1Z20) .contents-2MsGLg::before {
content: '';
width: 52px;
height: 52px;
background: url("https://i.imgur.com/G260nlo.png") center/cover;
transform: translate(-54px, -27px);
z-index: 99999;
position: absolute;
pointer-events: none;
}

/* reverts unread message and mention indicators */
.bar-wDIGjg {
    width: 208px;
    background-color: var(--background-accent);
}
.barText-1eIsLx {
    color: var(--status-positive-text) !important;
}
.bar-wDIGjg div:not(.mentionsBar-DpLHCy) {
    text-transform: uppercase;
    margin: auto;
}
.bar-wDIGjg.mentionsBar-DpLHCy .barText-1eIsLx {
    content: " " !important;
    font-size: 0px;
    padding: 0px;
}
.bar-wDIGjg.mentionsBar-DpLHCy .barText-1eIsLx::after {
    content: "New Mentions";
    font-size: 12px !important;
}
.bar-wDIGjg.mentionsBar-DpLHCy {
    background: var(--status-danger) !important;
    height: 16px !important;
}
.bar-wDIGjg svg {
    display: none;
}

/*Fancy selected server*/
.pill-2RsI5Q {
  width: 100%;
  overflow: visible !important;
}
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"] {
  right: 0;
  height: 48px !important;
  background-color: rgb(28, 32, 38);
  width: 60px;
  border-radius: 30% 0 0 30%;
  filter: drop-shadow(0px 14px 8px rgba(0,0,0,0.1));
  pointer-events: none;
  animation: pillAnimateIn 0.3s backwards cubic-bezier(0, 0, 0, 1.4);
}
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"]::after,
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 100px;
  box-shadow: 15px 15px 0 15px rgb(28, 32, 38);
}
.pill-2RsI5Q [style="opacity: 1; height: 40px; transform: none;"]::before {
  top: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 100px;
  box-shadow: 15px -15px 0 15px rgb(28, 32, 38);
}
@keyframes pillAnimateIn {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
}

/*Floating Folder*/
.wrapper-38slSD:active {
    -webkit-transform: unset;
    transform: none;
}
[id^="folder-items-"] {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: auto;
    max-height: calc(100vh - 72px);
    margin: auto auto auto calc(72px + 8px);
    padding-top: 8px;
    border-radius: 8px;
    background: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}
[id^="folder-items-"]::-webkit-scrollbar {
    display: none;
}

/*Make spotify album arts smaller until hover*/
a>.assetsLargeImageUserPopoutV2-9ksyvz[src^="https://i.scdn.co/image/"]{
width:50px;
height:50px;
transition: all 0.3s;
}
a>.assetsLargeImageUserPopoutV2-9ksyvz[src^="https://i.scdn.co/image/"]:hover {
width:100px;
height:100px;
transition: all 0.3s;
}

/*Profile panel next to chatbox*/
[class*="sidebar"] > [class*="panels-"] {
  display: flex;
  flex-direction: column;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type {
  position: fixed;
  bottom: 20px;
  width: 40px;
  padding-inline: 0;
  align-self: flex-end;
  transform: translateX(57px);
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type [class*="avatar"] {
  width: 40px !important;
  height: 40px !important;
  max-width: 100%;
  max-height: 100%;
  min-width: unset !important;
  border-radius: 100px;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type [class*="nameTag"] {
  display: none;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type > [class*="horizontal-"] {
  position: absolute;
  left: 100%;
  padding: 30px;
  padding-left: 20px;
  transform-origin: center left;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0, 1.3), filter 0.2s;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type > [class*="horizontal-"] button {
  background-color: var(--background-floating);
  border-radius: 0;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type > [class*="horizontal-"] button:first-child {
  border-radius: 8px 0 0 8px;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type > [class*="horizontal-"] button:last-child {
  border-radius: 0 8px 8px 0;
}
[class*="sidebar"] > [class*="panels-"] > div:last-of-type:not(:hover) > [class*="horizontal-"] {
  transform: scale(0.9);
  filter: opacity(0);
  pointer-events: none;
}
[class*="chatContent"] > form {
  padding-left: 70px !important;
}

/*Revert the new mosaic attachment layout*/
[class*="ByOneGrid-"]:not([class*="OneGridSingle-"]),
[class*="ByTwoGrid-"],
[class*="ByThreeGrid-"] {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

[class*="ByOneGrid-"]:not([class*="OneGridSingle-"]) [class*="lazyImg"],
[class*="ByTwoGrid-"] [class*="lazyImg"],
[class*="ByThreeGrid-"] [class*="lazyImg"] {
  aspect-ratio: unset;
  height: auto !important;
  width: auto !important;
  margin-left: 0px !important;
}

[class^="mediaAttachmentsContainer-"] [class*="messageAttachmentMediaMosaic-"] {
  max-width: fit-content;
}

[class*="mediaAttachmentsContainer-"] {
  border-radius: 0px;
}

[class*="OneGridSingle-"] {
  border-radius: 3px;
}

/*Removes Super Reaction Animations On Hover*/
.hideEmoji-3W3sEI {
  opacity: 1;
}

.effect-3LmGg0 svg {
  transform: none !important;
}

.effect-3LmGg0 g {
  clip-path: none !important;
  transform: none;
  opacity: 0;
}

/*Remove Emojis from channel names*/
[class*="mainContentWithChannelEmoji"] > [class*="channelEmojiRightOfIcon"] {
    display: none;
    padding: 6px 0;
}

/*Fixes the "GIF" text having a massive gap that takes up unnecessary space*/
.altText-sAs-Ao {
  margin: .25rem 0 -0.15rem;
  line-height: 17px;
}

/*Fix for jittery channel lists*/
.container-1NXEtd .content-yjf30S {
    display: flex;
    flex-direction: column;
    height: fit-content !important;
}

/*Role-Colored Mentions*/
.mentioned-Tre-dv {
    background: none;
}
.message-2CShn3:hover {
    background-color: var(--background-message-hover) !important;
}
.messageContent-2t3eCI, .compact-2Nkcau .contents-2MsGLg {
    position: unset !important;
}
.mention, .roleMention-11Aaqi {
    position: unset;
    filter: none;
}
.hasReply-2Cr4KE.mentioned-Tre-dv:not(:has(.roleMention-11Aaqi[style])):before, .mentioned-Tre-dv:before, .mentioned-Tre-dv .roleMention-11Aaqi:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--info-warning-foreground);
    filter: saturate(var(--saturation-factor,1));
}
.hasReply-2Cr4KE.mentioned-Tre-dv:not(:has(.roleMention-11Aaqi[style])):after, .mentioned-Tre-dv:after, .mentioned-Tre-dv .roleMention-11Aaqi:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-mentioned);
    z-index: -1;
    filter: saturate(var(--saturation-factor,1));
}
.roleMention-11Aaqi[style]:before {
    background-color: currentColor;
}
.roleMention-11Aaqi[style]:after {
    background: currentColor;
    opacity: 0.1;
}
.roleMention-11Aaqi ~ [class*="ention"]:before, .roleMention-11Aaqi ~ [class*="ention"].roleMention-11Aaqi:after, .repliedMessage-3Z6XBG [class*="ention"]:before, .repliedMessage-3Z6XBG [class*="ention"]:after, .hasReply-2Cr4KE .mention:before, .hasReply-2Cr4KE .mention:after, .messageContent-2t3eCI:has(.roleMention-11Aaqi) .mention:before, .messageContent-2t3eCI:has(.roleMention-11Aaqi) .mention:after, .mentioned-Tre-dv:has([class*="ention"]):before, .mentioned-Tre-dv:has([class*="ention"]):after {
    content: unset !important;
}

