#navbar {
    flex: 0 0 auto;
    height: 112px;
    position: relative;
    background: black;
    padding: 0;
}

#navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding: 0 128px;
    margin: 0 auto;
}

.navbar-logo.small { display: none; }

.navbar-logo {
    border-radius: 3px;
    height: 70px;
    width: auto;
    display: block;
}


#navbar-items {
    display: flex;
    align-items: center;
}

.navbar-item, .navbar-item a {
    background-color: transparent;
    border: none;
    color: var(--text-desc);
    font-weight: 500;
    padding: 12px;
    margin: 0 5px;
    border-radius: 3px;
    line-height: normal;
    font-size: 16px !important;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    user-select: none;
    cursor: pointer;
    transition: 150ms ease color;
}

.navbar-item:hover, .navbar-item a:hover {
    color: var(--text-light);
}

@media screen and (max-width: 950px) {
    .navbar-logo.small {
        height: 36px;
        display: block;
    }

    .navbar-logo {
        display: none;
    }
    
    #navbar-inner {
        padding: 18px 4px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #navbar-items {
        justify-content: center;
        flex-wrap: wrap;
        flex-grow: 1;
        margin-top: 20px;
    }
}